.btn-outline{
  border-width: 2px;
  background: transparent;
  text-shadow: none;
  color: #2ad594;
}

.control-section{
  margin-top: 2em;
  margin-bottom: 4em;
}

#ace-bot{
  position: relative;
  width: 100%;
  height: 400px;
}